/*************** general settings ********************/

p {
    font-size: 1em;
}

h4 {
    font-size: 1.1em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*************** common settings ********************/

.lang-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.staff-nav {
    font-family: "微软雅黑";
    font-weight: bold;
    color: #7fa626;
    font-size: 1.25em;
}

.sub-link {
    font-size: 1.2em;
    color: #808080;
    font-weight: bold;
    font-family: "FangSong", "仿宋", "STFangSong", "华文仿宋";
}

.white-space {
    padding: 2% 10%;
}

.grey-space {
    padding: 2% 10%;
    background-color: #CCCCCC;
}

.underline{
    text-decoration: underline;
    font-weight: bold;
}

.underline-link {
    margin-bottom: 2px;
    padding-left: 0px;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sub-title {
    font-family: "微软雅黑";
    font-weight: bold;
    color: #7fa626;
    font-size: 2.0em;
}

.paragraph-block {
    margin: 10px 0px;
    text-indent: 50px;
}


/* news page styles */

.news-container {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
}

#news-container ul li {
    padding: 5px 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.margin-b-3-pc {
    margin-bottom: 3%;
}

.margin-b-5-pc {
    margin-bottom: 5%;
}

.margin-l-5-pc {
    margin-left: 5%;
}

.margin-b-10-px {
    margin-bottom: 10px;
}

.text-index-0-px {
    text-indent: 0px;
}

.text-index-50-px {
    text-indent: 50px;
}


/* table styles */

.table-bg-color-C {
    background-color: #CCCCCC;
}


/*************** navbar settings ********************/

.navbar {
    margin: 0 auto;
    min-height: 20px;
}

.navbar-default {
    background-color: #6f9b43;
    border-color: #6f9b43;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .nav-justified>li>a {
    color: #ffffff;
}

.navbar-default .nav-justified>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #ffc72b;
}

.navbar-default .nav-justified>a,
.navbar-default .nav-justified>a:hover,
.navbar-default .nav-justified>a:focus {
    color: #ffffff;
    background-color: #ffc72b;
}

.navbar-default .nav-justified>a,
.navbar-default .nav-justified>a:hover,
.navbar-default .nav-justified>a:focus {
    color: #ffffff;
    background-color: #ffc72b;
}

.navbar-default .navbar-toggle {
    border-color: #6f9b43;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffc72b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.word-keep{
    word-break:keep-all;
}

.selected-menu{
    color:#ff8000;
}

@media (max-width: 767px) {
    .navbar-default .nav-justified .dropdown-menu>li>a {
        color: #ffffff;
    }
    .navbar-default .nav-justified .dropdown-menu>li>a:hover,
    .navbar-default .nav-justified .dropdown-menu>li>a:focus {
        color: #ffffff;
        background-color: #ffc72b;
    }
    .navbar-default .nav-justified .dropdown-menu>.active>a,
    .navbar-default .nav-justified .dropdown-menu>.active>a:hover,
    .navbar-default .nav-justified .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #ffc72b;
    }
}


/***************  ********************/

@media (max-width: 767px) {
    nav a {
        font-size: 1.1em
    }
    .staff-nav {
        font-size: 0.9em;
    }
}


/***************  ********************/
